## Advanced Operations with Business Examples

In [ ]:
# Data Structure : [restaurant_id, 2021, 2022, 2023, 2024]

sales_data = np.array([
    [1, 150000, 180000, 220000, 250000], 
    [2, ],
    [3, ],
    [4, ],
    [5, ]
])